# Imputation

Playground with some imputation strategies/algorithms before they go into the mundi library.

In [1]:
import pandas as pd
import numpy as np
import mundi
from collections import defaultdict
from mundi.plugins.epidemic.covid19 import brasil_io_clean_cases

In [2]:
try:
    data = pd.read_csv('~/caso_full.csv.gz')
except FileNotFoundError:
    data = pd.read_csv('https://data.brasil.io/dataset/covid19/caso_full.csv.gz')

In [3]:
cases = brasil_io_clean_cases(data)

In [4]:
col = "cases"
data = cases.pivot_table(
    index="id", columns="date", values=col, fill_value=-1
).sort_index()
# data = filling_policies.sum_children(data).reset_index()
# data = data.melt(id_vars=["id"], var_name="date", value_name=col)
# data = data[data[col] >= 0]
data

date,2020-02-25,2020-02-26,2020-02-27,2020-02-28,2020-02-29,2020-03-01,2020-03-02,2020-03-03,2020-03-04,2020-03-05,...,2021-04-27,2021-04-28,2021-04-29,2021-04-30,2021-05-01,2021-05-02,2021-05-03,2021-05-04,2021-05-05,2021-05-06
id,,,,,,,,,,,,,,,,,,,,,
BR-1100015,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,3353,3384,3406,3406,3429,3430,3435,3463,3476,3476
BR-1100023,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,18136,18169,18244,18244,18387,18387,18410,18536,18566,18566
BR-1100031,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,635,635,635,635,636,636,637,639,641,641
BR-1100049,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,11073,11160,11262,11262,11275,11275,11294,11229,11249,11249
BR-1100056,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,2039,2047,2061,2061,2069,2074,2077,2084,2088,2088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BR-5222005,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,580,594,606,606,606,606,606,606,606,606
BR-5222054,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1043,1048,1049,1056,1056,1057,1073,1072,1072,1072
BR-5222203,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,119,123,123,124,124,124,124,124,124,124
BR-5222302,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,312,313,313,313,313,313,313,313,313,313
BR-5300108,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,329844,330990,331858,332939,333840,334625,335325,336008,336008,336008

In [14]:
import sys; del sys.modules['mundi.impute']
from mundi.impute import impute_subregions

pd.concat([cases, impute_subregions(cases, 'BR', 'date', level=7)]).set_index(['id', 'date']).sort_index()

                   cases  deaths
id    date
BR    2020-02-25       1       0
      2020-02-26       1       0
      2020-02-27       1       0
      2020-02-28       2       0
      2020-02-29       2       0
...                  ...     ...
BR-TO 2021-05-02  160449    2559
      2021-05-03  160449    2559
      2021-05-04  160449    2559
      2021-05-05  160449    2559
      2021-05-06  160449    2559

[2300073 rows x 2 columns]

In [8]:
data = cases
parts = [cases]
for level in [7, 6, 5, 4, 3]:
    print('\n\n\nlevel', level)
    parents = mundi.regions_dataframe(['parent_id'], country_id='BR', level=level)['parent_id']
    print(parents)
    data = impute_parents(data, parents, by='date', agg='sum')
    parts.append(data)
    print(data)

pd.concat(parts).reset_index()[cases.columns]

level 7
id
BR-4108551    BR-410313
BR-2205532    BR-220311
BR-4123600    BR-410306
BR-2703502    BR-270309
BR-3514205    BR-350101
                ...
BR-1706001    BR-170103
BR-3551900    BR-350105
BR-1716653    BR-170103
BR-4312955    BR-430109
BR-5214507    BR-520310
Name: parent_id, Length: 5570, dtype: object
             date         id   cases  deaths
0      2020-04-05  BR-110206       1       0
1      2020-04-06  BR-110206       1       0
2      2020-04-07  BR-110206       1       0
3      2020-04-08  BR-110206       1       0
4      2020-04-09  BR-110206       1       0
...           ...        ...     ...     ...
220542 2021-05-02  BR-530101  334625    7200
220543 2021-05-03  BR-530101  335325    7228
220544 2021-05-04  BR-530101  336008    7267
220545 2021-05-05  BR-530101  336008    7267
220546 2021-05-06  BR-530101  336008    7267

[220547 rows x 4 columns]



level 6
id
BR-130309    BR-1303
BR-250211    BR-2502
BR-240212    BR-2402
BR-170104    BR-1701
BR-430112    BR-4301
              ...
BR-230732    BR-2307
BR-240417    BR-2404
BR-520516    BR-5205
BR-290417    BR-2904
BR-330615    BR-3306
Name: parent_id, Length: 558, dtype: object
            date       id   cases  deaths
0     2020-03-21  BR-1101       2       0
1     2020-03-22  BR-1101       2       0
2     2020-03-23  BR-1101       2       0
3     2020-03-24  BR-1101       4       0
4     2020-03-25  BR-1101       4       0
...          ...      ...     ...     ...
55994 2021-05-02  BR-5301  334625    7200
55995 2021-05-03  BR-5301  335325    7228
55996 2021-05-04  BR-5301  336008    7267
55997 2021-05-05  BR-5301  336008    7267
55998 2021-05-06  BR-5301  336008    7267

[55999 rows x 4 columns]



level 5
id
BR-3508        BR-SP
BR-2103        BR-MA
BR-5203        BR-GO
BR-4301        BR-RS
BR-2202        BR-PI
               ...
BR-SUS:3513    BR-SP
BR-SUS:3514    BR-SP
BR-SUS:3515    BR-SP
BR-SUS:3516    BR-SP
BR-SUS:3517    BR-SP
Name: parent_id, Length: 254, dtype: object
            date     id   cases  deaths
0     2020-03-20  BR-RO       1       0
1     2020-03-21  BR-RO       3       0
2     2020-03-22  BR-RO       3       0
3     2020-03-23  BR-RO       3       0
4     2020-03-24  BR-RO       5       0
...          ...    ...     ...     ...
11319 2021-05-02  BR-DF  334625    7200
11320 2021-05-03  BR-DF  335325    7228
11321 2021-05-04  BR-DF  336008    7267
11322 2021-05-05  BR-DF  336008    7267
11323 2021-05-06  BR-DF  336008    7267

[11324 rows x 4 columns]



level 4
id
BR-AC    BR-1
BR-AL    BR-2
BR-AM    BR-1
BR-AP    BR-1
BR-BA    BR-2
BR-CE    BR-2
BR-DF    BR-5
BR-ES    BR-3
BR-GO    BR-5
BR-MA    BR-2
BR-MG    BR-3
BR-MS    BR-5
BR-MT    BR-5
BR-PA    BR-1
BR-PB    BR-2
BR-PE    BR-2
BR-PI    BR-2
BR-PR    BR-4
BR-RJ    BR-3
BR-RN    BR-2
BR-RO    BR-1
BR-RR    BR-1
BR-RS    BR-4
BR-SC    BR-4
BR-SE    BR-2
BR-SP    BR-3
BR-TO    BR-1
Name: parent_id, dtype: object
           date    id    cases  deaths
0    2020-03-13  BR-1        2       0
1    2020-03-14  BR-1        2       0
2    2020-03-15  BR-1        2       0
3    2020-03-16  BR-1        2       0
4    2020-03-17  BR-1        5       0
...         ...   ...      ...     ...
2128 2021-05-02  BR-4  2820280   61202
2129 2021-05-03  BR-4  2823703   61368
2130 2021-05-04  BR-4  2837949   62053
2131 2021-05-05  BR-4  2846459   62379
2132 2021-05-06  BR-4  2846459   62379

[2133 rows x 4 columns]



level 3
id
BR-1    BR
BR-2    BR
BR-3    BR
BR-4    BR
BR-5    BR
Name: parent_id, dtype: object
          date  id     cases  deaths
0   2020-02-25  BR         1       0
1   2020-02-26  BR         1       0
2   2020-02-27  BR         1       0
3   2020-02-28  BR         2       0
4   2020-02-29  BR         2       0
..         ...  ..       ...     ...
432 2021-05-02  BR  14398814  395216
433 2021-05-03  BR  14431314  396178
434 2021-05-04  BR  14486350  398783
435 2021-05-05  BR  14538520  400757
436 2021-05-06  BR  14538520  400757

[437 rows x 4 columns]

              date          id     cases  deaths
0       2020-03-17  BR-1200401         3       0
1       2020-03-18  BR-1200401         3       0
2       2020-03-19  BR-1200401         4       0
3       2020-03-20  BR-1200401         7       0
4       2020-03-21  BR-1200401        11       0
...            ...         ...       ...     ...
2300068 2021-05-02          BR  14398814  395216
2300069 2021-05-03          BR  14431314  396178
2300070 2021-05-04          BR  14486350  398783
2300071 2021-05-05          BR  14538520  400757
2300072 2021-05-06          BR  14538520  400757

[2300073 rows x 4 columns]

In [97]:
mundi.regions_dataframe(['parent_id'], country_id='BR', level=4)['parent_id']

id
BR-AC           BR-1
BR-AL           BR-2
BR-AM           BR-1
BR-AP           BR-1
BR-BA           BR-2
               ...
BR-SUS:3513    BR-SP
BR-SUS:3514    BR-SP
BR-SUS:3515    BR-SP
BR-SUS:3516    BR-SP
BR-SUS:3517    BR-SP
Name: parent_id, Length: 281, dtype: object

In [104]:
mundi.region('BR-2301').level, mundi.region('BR-CE').level

(4, 4)

In [32]:
df = cases.set_index(['id', 'date']).sort_index()

In [45]:
df.loc['BR-2208908'].reset_index().drop_duplicates('date').set_index('date')

            cases  deaths
date
2020-05-13      1       0
2020-05-14      1       0
2020-05-15      2       0
2020-05-16      2       0
2020-05-17      2       0
...           ...     ...
2021-05-02    619       8
2021-05-03    624       8
2021-05-04    624       8
2021-05-05    624       8
2021-05-06    624       8

[359 rows x 2 columns]

In [106]:
cases.dtypes.to_dict()

{'date': dtype('<M8[ns]'),
 'id': StringDtype,
 'cases': dtype('int64'),
 'deaths': dtype('int64')}